.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

.line{
    width: 1253px;
    height: 3px;
    color: white;
    margin: 40 auto;
}

.global{
    background: #2B2B2B;
}